<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <form action="/user/create" method="post">
            <p><input type="text" name="name" id="" required placeholder="Name"></p>
            <p><input type="email" name="email" id="" required placeholder="email-id"></p>
            <p><input type="password" name="password" id="" required placeholder="password"></p>
            <p><input type="password" name="confirm_password" id="" required placeholder="confirm password"></p>
            <button type="submit">Sign-up</button>
        </form>
    </body>
</html>

<p>
    <a href="/user/auth/google">Google Sign-in/Sign-up</a>
</p>