footer{
    background-color: #E54E4C;
    height: 3rem;
    text-align: left;
    p{
        font-size: larger;
    }
    span{
        p{
        display: inline;
        font-size: larger;
        }
    }

}

#links{
        position :absolute;
        right: 10px;
        font-size: larger;
        font-weight: 900;
        margin-top: 0.5rem;
}

#footing{
    display: inline;
    font-weight: 900;
    font-size: x-large;
    
}